* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	background-color: skyblue;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.line {
	position: absolute;
	background-color: #000;
	z-index: 2;
}

.line--top {
	top: 0;
	left: 0;
	width: 0;
	height: 5px;
}

.line--right {
	top: 0;
	right: 0;
	height: 0;
	width: 5px;
}

.line--bottom {
	bottom: 0;
	right: 0;
	width: 0;
	height: 5px;
}

.line--left {
	bottom: 0;
	left: 0;
	height: 0;
	width: 5px;
}

.mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	z-index: 1;
}

.text,
.text2 {
	color: #fff;
	opacity: 0;
}

.text a,
.text2 a {
	color: green;
}

.text-center {
	text-align: center;
}