* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	padding: 0px;
	margin: 0px;
}
h2{
	color: #fff;
}
footer {
	padding: 90px 0px;
	background-color: #353432;
	overflow: hidden;
  }
  footer div {
	white-space: nowrap;
  }
  footer div .slider-wrapper {
	width: 100%;
	display: inline-block;
  }
  footer div .slider-wrapper p {
	display: inline-block;
	margin: 0;
  }
  footer div .slider-wrapper p img {
	padding: 0px 20px;
  }
  @media (max-width: 767px) {
	footer div .slider-wrapper p img {
	  padding: 0px;
	}
  }